.AboutMeContainer {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.AboutMeContainer h2 {
  font-size: 4rem;
}

.AboutMeContainer p {
  font-family: "Open sans", "Times New Roman", Times, serif;
  font-size: 1.1rem;
  max-width: 50%;
}
