div {
  display: flex;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  font-size: 1.5rem;
}

.App,
#root {
  flex-direction: column;
  text-align: center;
}

h2 {
  font-family: "Josefin Slab", "Times New Roman", Times, serif;
  color: #1565c0;
  font-size: 4rem;
}

.FlexCenter {
  justify-content: center;
  align-items: center;
}

.FlexDirectionColumn {
  flex-direction: column;
}
