.ContactContainer {
  background-color: #335566;
  color: white;
}

.ContactContainer h2 {
  color: white;
}

.ContactContainer a {
  transition: opacity 0.5s;
  color: white;
}

.ContactContainer a:hover {
  opacity: 0.7;
}
.fa-linkedin {
  width: 15px;
}
