.ContactContainer {
  background-color: #335566;
  color: white;
}

.ContactContainer h2 {
  color: white;
}

.ContactContainer a {
  transition: color 0.5s;
  color: white;
}

.ContactContainer a:hover {
  color: rgb(33, 150, 243);
}
.fa-linkedin {
  width: 15px;
}
