.ExperienceContainer {
  display: block;
  background-color: #bbdefb;
}

.ExperienceContainer div {
  display: block;
}

.vertical-timeline-element-icon.bounce-in {
  background-size: contain !important;
}
