.RepositoryIcons {
  width: 200px;
  justify-content: space-between;
}

.RepositoryIcons i {
  font-size: 3rem;
  color: black;
  transition: color 0.5s ease;
}

.RepositoryIcons i:hover {
  color: rgb(33, 150, 243);
}
